@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}

.leaflet-container {
  z-index: -1;
}

.Modal {
  position: absolute;
  z-index: 2;
}

.close{
  position: absolute;
  z-index: 10;
  height: 5vh;
  width: 5vh;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(255, 255, 255, 0.6);
  border-radius: 50%;
  right: 10px;
  top: 10px;
  font-weight: 900;
  cursor: pointer;
}

.close-chart{
  position: absolute;
  z-index: 10;
  height: 5vh;
  width: 5vh;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(255, 255, 255);
  border-radius: 50%;
  right: 10px;
  top: 10px;
  font-weight: 900;
  cursor: pointer;
}

.sidebar-bottom {
  position: absolute;
  height: 30vh;
  width: 350px;
  z-index: 999;
  right: 20px;
  top: 58vh;
  background-color: #fff;
  box-shadow: "0px 0px 15px rgba(0, 0, 0, 0.25)";
  border-radius: 3px;
  padding: 20px;
  overflow: scroll;
}

.tab {
  float: right;
  background-color: #ecf0f1;
  width: 15%;
  height: 95vh;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

.card {
  color: #fff;
  background-color: #fff;
  border: 2px solid #6c5ce7;
  /* box-shadow: rgb(0 0 0 / 25%) 0px 0px 15px; */
  margin-bottom: 1rem;
}

.card-body {
  padding: 10px;
  background-color: #6c5ce7;
}

.data-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 20px auto;
}
.data-item {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
}

.btn-ext {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  border: 0px;
  padding: 0.8rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customers tr:hover {
  background-color: #ddd;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

/* REACT SLICK */

.cor-container {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5vh;
}

.cor-item {
  height: 200px;
  background-color: tomato;
  border-radius: 20px 20px 0 0;
}

.toshow {
  display: flex;
  flex-direction: row;
  margin: 2vh 0 2vh 0;  
  padding: 2px 20px 2px 20px;
}

.toshow div {
  width: 50%;
  font-size: .9rem;
 
}



.changemapstyle img {
  width: 100%;
  border-radius: 20px;
}


/* DEKSTOP */
@media (min-width: 1025px) {
  .sidebar {
    position: absolute;
    width: 25vw;
    z-index: 999;
    right: -700px;
    top: 20px;
    background-color: #fff;
    box-shadow: '0px 0px 15px rgba(0, 0, 0, 0.25)';
    border-radius: 20px;
    transition: ease-in-out 0.5s;
  }

  .btn-control{
    position: absolute;
    width: 240px;
    height: 70px;
    z-index: 100;
    right: 20px;
    bottom: 35px;
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: '0px 0px 15px rgba(0, 0, 0, 0.25)';
    display: flex;
    flex-direction: row;
  }

  .btn-control div{
    display: flex;
    justify-content: center;
    align-items: center;
    width : 33%;
  }

  .btn-control div img{
    width : 50%;
    cursor: pointer;
    transition: ease-in-out 0.1s;
  }

  .btn-control div img:hover{
    width : 55%;
  }

  .changemapstyle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    aspect-ratio: 1;
    z-index: 100;
    left: 5px;
    bottom: 5px;
    background-color: #fff;
    box-shadow: "0px 0px 15px rgba(0, 0, 0, 0.25)";
    border-radius: 20px;
    padding: 2px;
    cursor: pointer;
    /* overflow: scroll; */
  }

  .chart{
    display: none;
    position: absolute;
    margin: auto;
    width: 90vw;
    height: 90vh;
    padding: 20px;
    z-index: 101;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    box-shadow: "0px 0px 15px rgba(0, 0, 0, 0.25)";
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255, 0.8);
    padding: 20px;
    overflow: auto;
    transition: linear 2s;
  }

  .chart .main-chart{
    background-color: #9b59b6;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
  }

  .chart .main-chart .main-text{
    font-size: 72px;
    font-weight: 900;
  }


  .category-container {
    display: grid;
    /* grid-template-rows: repeat(3, 120px); */
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 15px;
    margin-top: 10vh;
  }
  .category-item {
    padding: 20px;
    width: 85%;
    border-radius: 20px;
    background-color: #34495e;
    color: #fff;
    padding: 20px;
  }

  .category-item .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #9b59b6;
    width: 100%;
    border-radius: 15px;
  }

  .category-item .content-wrapper {
    background-color: #9b59b6;
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
    padding: 10px 0px;
  }

  .category-item .content {
    background-color: #67377c;
    border-radius: 15px;
    margin: 10px;
  }

 
  .category-item .header .main{
    font-size: 40px;
    margin: 10px 15px 0px 0px;
  }

  .category-item .header .sub{
    font-size: 20px;
    margin: 0px 15px 15px 0px;
  }

  .category-item .content .title{
    text-align: center;
    padding: 10px 15px 10px 0px;

  }

  .category-item .content .content-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    text-align: center;
    word-wrap: break-word;
  }

  .category-item .content .content-3{
   
    padding: 10px 20px 20px 20px;
  }

  .category-item .content .content-3 .angka{
    font-size: 24px;
  }

  .category-item .content .content-3 .ket{
    font-size: 12px;

  }


}

/* TABLET */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .sidebar {
    position: absolute;
    width: 40vw;
    z-index: 999;
    right: -500px;
    top: 20px;
    background-color: #fff;
    box-shadow: '0px 0px 15px rgba(0, 0, 0, 0.25)';
    border-radius: 20px 20px 20px 20px;
    transition: ease-in-out 0.5s;
  }

  .btn-control{
    position: absolute;
    width: 240px;
    height: 70px;
    z-index: 999;
    right: 20px;
    bottom: 35px;
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: '0px 0px 15px rgba(0, 0, 0, 0.25)';
    display: flex;
    flex-direction: row;
  }

  .btn-control div{
    display: flex;
    justify-content: center;
    align-items: center;
    width : 33%;
  }

  .btn-control div img{
    width : 50%;
    cursor: pointer;
    transition: ease-in-out 0.1s;
  }

  .btn-control div img:hover{
    width : 55%;
  }

  .changemapstyle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    aspect-ratio: 1;
    z-index: 100;
    left: 10px;
    bottom: 10px;
    background-color: #fff;
    box-shadow: "0px 0px 15px rgba(0, 0, 0, 0.25)";
    border-radius: 20px;
    padding: 2px;
    cursor: pointer;
    /* overflow: scroll; */
  }

  .chart{
    display: none;
    position: absolute;
    margin: auto;
    width: 90vw;
    height: 90vh;
    padding: 20px;
    z-index: 101;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    box-shadow: "0px 0px 15px rgba(0, 0, 0, 0.25)";
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255, 0.8);
    padding: 20px;
    overflow: auto;
    transition: linear 2s;
  }

  .chart .main-chart{
    background-color: #9b59b6;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
  }

  .chart .main-chart .main-text{
    font-size: 72px;
    font-weight: 900;
  }


  .category-container {
    display: grid;
    /* grid-template-rows: repeat(3, 120px); */
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 15px;
    margin-top: 10vh;
  }
  .category-item {
    padding: 20px;
    width: 85%;
    border-radius: 20px;
    background-color: #34495e;
    color: #fff;
    padding: 20px;
  }

  .category-item .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #9b59b6;
    width: 100%;
    border-radius: 15px;
  }

  .category-item .content-wrapper {
    background-color: #9b59b6;
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
    padding: 10px 0px;
  }

  .category-item .content {
    background-color: #67377c;
    border-radius: 15px;
    margin: 10px;
  }

 
  .category-item .header .main{
    font-size: 40px;
    margin: 10px 15px 0px 0px;
  }

  .category-item .header .sub{
    font-size: 20px;
    margin: 0px 15px 15px 0px;
  }

  .category-item .content .title{
    text-align: center;
    padding: 10px 15px 10px 0px;

  }

  .category-item .content .content-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    text-align: center;
    word-wrap: break-word;
  }

  .category-item .content .content-3{
   
    padding: 10px 20px 20px 20px;
  }

  .category-item .content .content-3 .angka{
    font-size: 24px;
  }

  .category-item .content .content-3 .ket{
    font-size: 12px;

  }

}

/* MOBILE */
@media (max-width: 480px) {
  .sidebar {
    position: absolute;
    width: 100%;
    z-index: 999;
    height: 50vh;
    transition: ease-in-out 0.5s;
    bottom: -100vh;
    background-color: #fff;
    box-shadow: "0px 0px 15px rgba(0, 0, 0, 0.25)";
    border-radius: 20px 20px 0px 0px;
    overflow-x: scroll;
  }

  .btn-control{
    position: absolute;
    width: 200px;
    height: 60px;
    z-index: 999;
    right: 10px;
    bottom: 10px;
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: '0px 0px 15px rgba(0, 0, 0, 0.25)';
    display: flex;
    flex-direction: row;
    z-index: 100;
  }

  .btn-control div{
    display: flex;
    justify-content: center;
    align-items: center;
    width : 33%;
  }

  .btn-control div img{
    width : 50%;
    cursor: pointer;
    transition: ease-in-out 0.1s;
  }

  .btn-control div img:hover{
    width : 55%;
  }

  .changemapstyle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
    aspect-ratio: 1;
    z-index: 100;
    left: 10px;
    bottom: 10px;
    background-color: #fff;
    box-shadow: "0px 0px 15px rgba(0, 0, 0, 0.25)";
    border-radius: 20px;
    padding: 2px;
    cursor: pointer;
    /* overflow: scroll; */
  }

  .chart{
    display: none;
    position: absolute;
    margin: auto;
    width: 90vw;
    height: 90vh;
    padding: 20px;
    z-index: 101;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    box-shadow: "0px 0px 15px rgba(0, 0, 0, 0.25)";
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255, 0.8);
    padding: 20px;
    overflow: auto;
    transition: linear 2s;
  }

  .chart .main-chart{
    background-color: #9b59b6;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
  }

  .chart .main-chart .main-text{
    font-size: 72px;
    font-weight: 900;
  }


  .category-container {
    display: grid;
    /* grid-template-rows: repeat(3, 120px); */
    grid-template-columns: repeat(1, 1fr);
    column-gap: 10px;
    row-gap: 15px;
    margin-top: 10vh;
  }
  .category-item {
    padding: 20px;
    width: 85%;
    border-radius: 20px;
    background-color: #34495e;
    color: #fff;
    padding: 20px;
  }

  .category-item .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #9b59b6;
    width: 100%;
    border-radius: 15px;
  }

  .category-item .content-wrapper {
    background-color: #9b59b6;
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
    padding: 10px 0px;
  }

  .category-item .content {
    background-color: #67377c;
    border-radius: 15px;
    margin: 10px;
  }

 
  .category-item .header .main{
    font-size: 40px;
    margin: 10px 15px 0px 0px;
  }

  .category-item .header .sub{
    font-size: 20px;
    margin: 0px 15px 15px 0px;
  }

  .category-item .content .title{
    text-align: center;
    padding: 10px 15px 10px 0px;

  }

  .category-item .content .content-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    text-align: center;
    word-wrap: break-word;
  }

  .category-item .content .content-3{
   
    padding: 10px 20px 20px 20px;
  }

  .category-item .content .content-3 .angka{
    font-size: 24px;
  }

  .category-item .content .content-3 .ket{
    font-size: 12px;

  }

}
